<div class="contentPage">
  <div class="row">
    <div class="col aboutContent">
      <h1 class="title">About</h1>
      <div class="title-divider"></div>
      <ul class="about-list">
        <li>Name: Yicai Weng</li>
        <li>Email: yicaiweng@gmail.com</li>
        <li>Address: 1234 N Cumberland St, Metairie, LA, 70003</li>
        <li>Phone: 504-452-xxxx</li>
        <li>Language: English & Chinese</li>
      </ul>
    </div>
    
     <div class="col projectContent">
       <h1 class="title">Professional Profile</h1>
       <div class="title-divider"></div>
       <ul class="projectContent-list">
         <li> 16 months of hybrid mobile application experience</li>
         <li> certified cloud application developer</li>
         <li> Mobile/Web developer</li>
       </ul>
     </div>
   </div>
</div>