.about-list, .projectContent-list {
  list-style-type: none;
}

.about-list li, .projectContent-list li{
  width: 400px;
  padding: 10px 0px;
  border-bottom: 2px dotted grey;
}

.downloadbutton {
  margin-left: 55px;
  border-radius: 5%;
  border: 2px solid #BF0B1D;
  background: transparent;
  color: #aeaeae;
}