  <aside>
    <div class="col container menu">
      <img src="./assets/logo5.png" class="img">
      <ul class="menu-list">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="project">Project</a></li>
        <li><a routerLink="resume">Resume</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
      
      <div class="icon">
        <a target="_blank" href="https://github.com/yicaiweng"><img src="/assets/icons/Github2.png" width='40px' height='40px'></a>
        <a target="_blank" class="linkedinIcon" href="https://www.linkedin.com/in/yicaiweng"><img src='assets/icons/Linkedin2.png' width='40px' height='40px'></a>
        <a target="_blank" class="instaIcon" href="https://www.instagram.com/yicaiweng/"><img src='assets/icons/Instagram2.png' width='40px' height='40px'></a>
        <a href="mailto:yicai.weng@ibm.com"><img src="assets/icons/mail2.png" width="40px" height="40px"></a>
      </div>
      
      <div class="copyright">
         <p>© Yicai Weng 2018<p>
      </div>
    </div>
</aside>

<router-outlet></router-outlet>
