  <nav class="navbar navbar-dark bg-dark">
      <li class="nav-item navbar-brand"><a class="nav-link" routerLink='home'>Yicai Weng</a></li>
    <div class="">
      <ul class="navbar navbar-right">
        <li class="nav-item"><a class="nav-link" routerLink='resume'></a>Resume</li>
        <li class="nav-item"><a class="nav-link" routerLink='contact'></a>Contact</li>
        <li class="nav-item"><a class="nav-link" routerLink='about'></a>About</li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
