<div class="contentPage">
  <div class="row">
    <div class="col content">
      <h1 class="title">Resume</h1>
      <div class="title-divider"></div>
      <ul class="resume-list">
      <li><p><strong>Yicai</strong> is highly skilled front-end developer. 
       He is knowledgeable in front-end web development technologies using Angular, CSS and HTML, as well as
       object-orientated languages such as Java and SQL, He also has been trained in Swift and the iOS platform. His last assignment allowed him to gain over a year of Hybrid mobile application development experience using MobileFirst technologies working in an Agile environment. 
       He is a motivated hard worker who prides himself in being thorough and efficient.</p></li>
    
     <li><h6>Employer History &nbsp; &nbsp;07/2016 - To date</h6>
       <p>International Business Machine, United States of America <br>
          Application Developer: Mobile</p></li>
      <li><h6>Education &nbsp; &nbsp;</h6>
        <p>Bachelor of Science in Computer Science <br>
          University of New Orleans, United States of America, 2016</p></li>
     </ul>
    </div>
   </div>
</div>