<div class="contentPage">
  <div class="row">
    <div class="col content">
      <h1 class="title">Project</h1>
      <div class="title-divider"></div>
        <ul class="project-list">
          <li><h4>Major US Leading Student Aid Organization</h4></li>
          <h6>Hybrid Mobile Application -- 03/2017 ~ 06/2018</h6>
          <p>Two identical hybrid mobile application allows student to managing their loans whenever and wherever it is convenient for them. 
           All the information is within a fingertip. 
           Primary focus consisted of developing an intuitive and cohesive user interface and API to easily communicate with client’s servers. 
           Top priority were to delivery on time and seamless integration. 
           Participated daily with team members to ensure a clear line of communication and status updates. </p>
           <li>IBM Internal Proof of Concept  </li>
           <h6>Java Application -- 01/2017 ~ 03/2017</h6>
           <p>A proof of concept RESTful web service and dynamic web project
              We created a service that uses REST API to retrieve and display information from the database to a browser.</p>  
       </ul>
     </div>
   </div>
</div>